name: deploy tamil thayam

on: 
  push :
    branches: [main]

jobs:
  thayam:
    runs-on: ubuntu-latest
    timeout-minutes: 5 
    steps:
     - uses: actions/checkout@v3
       with: 
        repository: maksha19/thayam
        token: ${{ secrets.GET_THAYAM }}
     - run: |
        cd src && ls
        node --version
        npm --version
        npx --version
     - uses: actions/setup-node@v3
       with:
        node-version: 14
     - name: Setup git configuration 
       run: | 
         git config --global user.email "my-bot@bot.com"
         git config --global user.name "my-bot"
     - name: Install NPM packages
       run: npm ci
     - name: Install gp-page
       run: npm i gh-pages --save-dev
     - name: Build package
       run: npm run build
       env:
        CI: false
     - run: ls 
     - name: Init new repo in dist folder and commit generated files
       run: |
        cd build
        git init
        git add -A
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git commit -m 'deploy'
     - name: Force push to destination branch
       uses: ad-m/github-push-action@master
       with:
        github_token: ${{ secrets.PUT_THAYAM }}
        branch: gh-pages
        force: true
        directory: build