name: deploy tamil thayam

on: 
  push :
    branches: [main]

jobs:
  thayam:
    runs-on: ubuntu-latest
    timeout-minutes: 5 
    steps:
     - uses: actions/checkout@v3
       with: 
        repository: maksha19/thayam
        token: ${{ secrets.GET_THAYAM }}
     - run: |
        cd src && ls
        node --version
        npm --version
        npx --version
     - uses: actions/setup-node@v3
       with:
        node-version: 14
     - name: Install NPM packages
       run: npm ci
     - name: Install gp-page
       run: npm i gh-pages --save-dev
     - name: Build package
       run: npm run build
       env:
        CI: false
     - name: Publish package
       run: npx gh-pages -d build